<ul class="nav navbar-nav navbar-right">
    @if (Restaurants.Models.AuthenticationManager.LoggedUser == null)
    {
        <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Account/Login">Log in</a></li>
    }
    else
    {
        if (Restaurants.Models.AuthenticationManager.LoggedUser.AdminStatus == false)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome @Restaurants.Models.AuthenticationManager.LoggedUser.Username <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <img class="img-responsive thumbnail accountImage" src="@Restaurants.Models.AuthenticationManager.LoggedUser.ProfileImageUrl" alt="Alternate Text" style="height:100px; width:100px;" />
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Edit", "Restaurant")" class="btn_red"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add restaurant</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("EATinator", "Home")" class="btn_red"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Where can i eat?</a></li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("My Profile", "Profile", "Users", new { id = Restaurants.Models.AuthenticationManager.LoggedUser.Id }, new { })</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/Account/Logout">Log out</a></li>
                </ul>
            </li>
        }
        else
        {   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome @Restaurants.Models.AuthenticationManager.LoggedUser.Username <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <img class="img-responsive thumbnail accountImage" src="@Restaurants.Models.AuthenticationManager.LoggedUser.ProfileImageUrl" alt="Alternate Text" style="height:100px; width:100px;" />
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Restaurants", "Admin")" class="btn_red"><i class="fa fa-bolt" aria-hidden="true"></i>&nbsp; Restaurants Requests</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Edit", "Restaurant")" class="btn_red"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add restaurant</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Restaurants", "Admin")" class="btn_red"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp; Restaurants Manager</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Restaurants", "Admin")" class="btn_red"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp; Carousel Manager</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Users", "Admin")" class="btn_red"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Users Manager</a></li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("My Profile", "Profile", "Users", new { id = Restaurants.Models.AuthenticationManager.LoggedUser.Id }, new { })</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/Account/Logout">Log out</a></li>
                </ul>
            </li>
        }
    }
</ul>