<ul class="nav navbar-nav navbar-right">
    @if (Restaurants.Models.AuthenticationManager.LoggedUser == null)
    {
        <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Account/Login">Log in</a></li>
    }
    else
    {
        if (Restaurants.Models.AuthenticationManager.LoggedUser.AdminStatus == false)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome @Restaurants.Models.AuthenticationManager.LoggedUser.Username <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Add Restorants", "Edit", "DoctorsManager")</li>
                    <li>@Html.ActionLink("View Restorants", "", "DoctorsManager")</li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                    <li><a href="/Account/Logout">Log out</a></li>
                </ul>
            </li>
        }
        else
        {   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome @Restaurants.Models.AuthenticationManager.LoggedUser.Username <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Add Restorants", "Edit", "DoctorsManager")</li>
                    <li>@Html.ActionLink("View Restorants", "", "DoctorsManager")</li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                    <li><a href="/Account/Logout">Log out</a></li>
                </ul>
            </li>
        }
    }
</ul>